<tables>
    <!-- Locations of picrust2 default directory -->
   <table name="frogs_picrust2_placeseqs" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, dir, path, placement_tool, version</columns>
        <file path="tool-data/frogs_picrust2_placeseqs.loc" />
    </table>
    <!-- Locations of picrust2 marker table files -->
   <table name="frogs_picrust2_functions" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path, traits, version</columns>
        <file path="tool-data/frogs_picrust2_functions.loc" />
    </table>
    <!-- Locations of picrust2 pathway map files -->
    <!-- true columns order should be : value, name, marker, path, version; but can't change for compatibility with previous versions installed -->
   <table name="frogs_picrust2_pathways" comment_char="#" allow_duplicate_entries="False">
        <columns>marker, path, value, name, version </columns>
        <file path="tool-data/frogs_picrust2_pathways.loc" />
    </table>
</tables>