<?xml version="1.0"?>
<tables>
    <!-- Location of frogs database files -->
    <table name="frogs_db" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/frogs_db.loc" />
    </table>
    <table name="frogs_HVL_db" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/frogs_HVL_db.loc" />
    </table>
    <table name="frogs_contaminant_db" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/frogs_contaminant_db.loc" />
    </table>
        <!-- Locations of picrust2 default directory -->
   <table name="picrust2_default_dir" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/picrust2_default_dir.loc" />
    </table>
    <!-- Locations of picrust2 description files directory -->
   <table name="picrust2_description_dir" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/picrust2_description_dir.loc" />
    </table>
        <!-- Locations of picrust2 marker table files -->
   <table name="picrust2_marker_table" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/picrust2_marker_table.loc" />
    </table>
        <!-- Locations of picrust2 traits table files -->
   <table name="picrust2_traits_table" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/picrust2_traits_table.loc" />
    </table>
    <!-- Locations of picrust2 pathway map files -->
   <table name="picrust2_pathway_map" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/picrust2_pathway_map.loc" />
    </table>
</tables>
