# Copyright (C) 2022 INRA
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#
#This is a sample file that enables tools FROGS_frogsfunc_placeseqs to place 
#studies sequences (i.e. OTUs) into a reference tree.
#
#<identifiant>	<marker_gene>	<file_path>	<path_to_default_dir>
#
#First column will be the visible name in galaxy.
#
#
# EXAMPLE FOR TEST :
#pro_metacyc_pathway	Metacyc	16S	<PATH_TO>/picrust2/default_files/pathway_mapfiles/metacyc_path2rxn_struc_filt_pro.txt
#fungi_metacyc_pathway	Metacyc	ITS	<PATH_TO>/picrust2/default_files/pathway_mapfiles/metacyc_path2rxn_struc_filt_fungi.txt
#fungi_metacyc_pathway	Metacyc	18S	<PATH_TO>/picrust2/default_files/pathway_mapfiles/metacyc_path2rxn_struc_filt_fungi.txt
#kegg_modules_pathway	Kegg	16S	<PATH_TO>/picrust2/default_files/pathway_mapfiles/KEGG_pathways_to_KO.tsv