# Copyright (C) 2022 INRA
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#
#This is a sample file that enables tools FROGS_frogsfunc_functions and tools FROGS_frogsfunc_pathways to map 
#functions and pathways ID to their names.
#
#PICRUSt2 files are present in the arborescence of PICRUSt2. Please consult 
#PICRUSt2 documentation to find out where they are located in your environment.
#
#If you are not comfortable with picrust2 command lines, just create .loc files 
#with EXAMPLE FOR TEST files remembering to replace <PATH_TO> with the real path.
#
#<identifiant>	<category> <path_to_description_dir>
#For exemple:
#-rwxrwxr-x 1 vdarbot vdarbot  69390 avril  1  2021 cog_info.tsv.gz
#-rwxrwxr-x 1 vdarbot vdarbot  32796 avril  1  2021 ec_level4_info.tsv.gz
#-rwxrwxr-x 1 vdarbot vdarbot 145092 avril  1  2021 KEGG_modules_info.tsv.gz
#-rwxrwxr-x 1 vdarbot vdarbot   4971 avril  1  2021 KEGG_pathways_info.tsv.gz
#-rwxrwxr-x 1 vdarbot vdarbot 241813 avril  1  2021 ko_info.tsv.gz
#-rwxrwxr-x 1 vdarbot vdarbot  31399 avril  1  2021 metacyc_pathways_info.txt.gz
#-rwxrwxr-x 1 vdarbot vdarbot 163704 avril  1  2021 pfam_info.tsv.gz
#-rwxrwxr-x 1 vdarbot vdarbot  63866 avril  1  2021 tigrfam_info.tsv.gz
#
# EXAMPLE FOR TEST :
#picrust2_default_dir	description	<PATH_TO>/picrust2/default_files/description_mapfiles/
